.enlargeModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.enlargeModal.show-modal {
  display: flex;
}

.enlargeModal__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Myplace {
  max-width: 75vh;
  max-height: 75vh;
  position: relative;
}

.captar__text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-top: 8px;
}

.fechar {
  position: absolute;
  top: -40px;
  right: -20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
}

.fechar:hover {
  color: #bbb;
}

@media screen and (max-width: 320px) {
  .Myplace {
    max-width: 45vh;
    max-height: 45vh;
    left: 18px;
  }

  .captar__text {
    left: 18px;
    font-size: 12px;
  }

  .fechar {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .Myplace {
    max-width: 65vh;
    max-height: 65vh;
    left: auto;
  }

  .captar__text {
    left: auto;
  }

  .fechar {
    top: -35px;
    right: -20px;
    font-size: 28px;
  }
}
