.profile {
  display: grid;
  grid-template-columns: 320px 453px auto;
}

.profile__avatar {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0;
  padding-top: 40px;
  padding-left: 200px;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.16fr auto;
  padding-top: 62px;
  padding-left: 30px;
}

.profile__name {
  width: 373px;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin: 0;
}

.profile__text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin: 0;
  padding-top: 16px;
}

.profile__edit {
  width: 1.5rem;
  height: 1.5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 18px;
  padding-top: 15px;
}

.profile__add {
  width: 9.375rem;
  height: 3.125rem;
  padding-left: 156px;
  padding-top: 75px;
}

.profile__edtimg:hover {
  opacity: 0.5;
}

.profile__addimg:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__avatar {
    padding-top: 42px;
    padding-left: 100px;
  }

  .profile__info {
    padding-left: 48px;
    padding-top: 30px;
    width: 14rem;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    width: 196px;
  }

  .profile__text {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    padding-top: 14px;
  }

  .profile__edit {
    width: 1.125rem;
    padding-left: 10px;
    padding-top: 6px;
  }

  .profile__add {
    padding-top: 36px;
    padding-left: 19px;
    margin: auto;
    height: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
  }

  .profile__avatar {
    width: 6rem;
    height: 6rem;
    padding: 0;
  }

  .profile__text {
    padding: 0;
  }

  .profile__name {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .profile__subtitle {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .profile__edit {
    width: 1rem;
    height: 1rem;
  }

  .profile__add {
    width: 7rem;
    height: 2.5rem;
  }
}
